version: "3.6"

services:
    genome-ccip-resolver:
        image: dm3org/genome-ccip-resolver:v0.0.2
        restart: always
        environment:
            L2_PROVIDER_URL: "$L2_PROVIDER_URL"
            L2_RESOLVER_ADDRESS: "$L2_RESOLVER_ADDRESS"
        ports:
            - "8887:8887"

    ccip-resolver:
        image: dm3org/ccip-resolver:v0.2.7
        restart: always
        environment:
            CONFIG: |
                {
                  "$ERC3668_RESOLVER_ADDRESS": {
                  "type": "signing",
                  "handlerUrl": "http://genome-ccip-resolver:8887"
                }
                }
        ports:
            - "8081:8081"
